@tailwind base;
@tailwind components;
@tailwind utilities;


[x-cloak] {
    display: none;
}

html.dark p {
    color: white;
}

html.light p {
    color: black;
}

p {
    font-size: 1.5rem;
    line-height: 2rem;
    color: black;
}




ol > li {
    font-size: 1.5rem;
    line-height: 2rem;
    color: black;
    list-style-type: decimal;

}

.bg-fond-one,
.bg-fond-two {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
}

.bg-fond-one {
    background-image: url('/public/img/FOND_CLAIR_1.png');
}

.bg-fond-two {
    background-image: url('/public/img/FOND_CLAIR_2.png');
}


.members-description > p {
    font-size: 1.5rem;
    line-height: 2rem;
    color: black !important;
}

@media (max-width: 1023px) {
    .bg-fond-one, .bg-fond-two {
      background: #84DBF0;
    }
}

@media (max-width: 768px) {
    p {
        font-size: 1.125rem; /* 18px */
        line-height: 1.75rem; /* 28px */
    }
}

@media (max-width: 480px) {
    p {
        font-size: 1rem; /* 16px */
        line-height: 1.5rem; /* 24px */
    }
}

@media (max-width: 768px) {
    .bg-fond-one,
    .bg-fond-two {
        background-position: top center;
    }
}
