@tailwind base;
@tailwind components;
@tailwind utilities;

[x-cloak] {
    display: none;
}

p {
    font-size: 1.5rem;
    line-height: 2rem;
    color: black;
}

html.dark p {
    color: white;
}

html.light p {
    color: black;
}


@media (max-width: 768px) {
    p {
        font-size: 1.125rem; /* 18px */
        line-height: 1.75rem; /* 28px */
    }
}

@media (max-width: 480px) {
    p {
        font-size: 1rem; /* 16px */
        line-height: 1.5rem; /* 24px */
    }
}
